<ul class="nav justify-content-center bg-light nav-pills nav-fill">
  <li class="nav-item">
    <%= link_to "To Do's", root_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Articles', root_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Profile', root_path, class: 'nav-link' %>
  </li>
</ul>